<!DOCTYPE html>
<html lang="en">
<head>

    <center><title>ToDo App - Edit</title></center>
</head>
<body><center>
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col" style="padding: 20px; ">
        <br>
        <legend><b>Update Task: {{ todo.id}}</b></legend>
        <form class="form-floating" method="post" action="/edit/{{todo.id}}">
            <br>
            <div class="form-floating">
                <label for="floatingInputValue1">Task Date</label>
                <input type="date" name="date" class="form-control" id="floatingInputValue1" value="{{ todo.Task_Date }}" required>

            </div>
            <br>
            <div class="form-floating">
                <label for="floatingInputValue2">Task Name</label>
                <input type="text" name="name" class="form-control" id="floatingInputValue2" value="{{ todo.Task_Name }}" required>

            </div>
            <br>
            <div class="form-floating">
                <label for="floatingInputValue3">Email Id</label>
                <input type="email" name="email" class="form-control" id="floatingInputValue3" value="{{ todo.Task_Email }}" required>

            </div>
            <br>
            <div class="form-floating">
                <label for="floatingInputValue4">Phone Number</label>
                <input type="number" name="phone" class="form-control" id="floatingInputValue4" value="{{ todo.Task_Phone }}" required>

            </div>
            <br>
            <div class="form-floating">
                <label for="floatingSelect">Select Priority Level</label>
                <select class="form-select" name="pri" id="floatingSelect" aria-label="Floating label select example" required>
                    {% if todo.Task_Priority == 'None' %}
                    <option selected value="None">Select Priority Level</option>
                    <option value="High">High</option>
                    <option value="Normal">Normal</option>
                    <option value="Low">Low</option>
                    {% endif %}
                    {% if todo.Task_Priority == 'High' %}
                    <option>Select Priority Level</option>
                    <option value="High" selected>High</option>
                    <option value="Normal">Normal</option>
                    <option value="Low">Low</option>
                    {% endif %}
                    {% if todo.Task_Priority == 'Normal' %}
                    <option>Select Priority Level</option>
                    <option value="High">High</option>
                    <option value="Normal" selected>Normal</option>
                    <option value="Low">Low</option>
                    {% endif %}
                    {% if todo.Task_Priority == 'Low' %}
                    <option >Select Priority Level</option>
                    <option value="High">High</option>
                    <option value="Normal">Normal</option>
                    <option value="Low" selected>Low</option>
                    {% endif %}

                </select>

            </div>
            <br>
            <div class="form-floating">
                <button type="submit" class="btn btn-primary">Update Task</button>
            </div>
        </form>
        <br>
        {% if msg %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
        </div>
        {% endif %}
        <br>
        <div class="form-floating">
            <a href="/list"><button type="submit" class="btn btn-secondary">Show ToDo List</button></a>&nbsp;&nbsp;<a href="/"><button type="submit" class="btn btn-secondary">Add Task To List</button></a>
        </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div></center>
</body>

</html>